<html ng-app="userApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
        <script src="app.js"></script>
        <script src="../client/controller/userController.js"></script>
        <script src="../client/services/userService.js"></script>
    </head>
    <body>
        <!-- Display All Data of users -->
        <!-- <div ng-controller="userController as ctrl">
            <button ng-click="ctrl.getUsers()">Show All Users</button>
            <ul ng-repeat="user in ctrl.users">
                <li><p>Name:{{user.name}}</p>
                    <p>Email: {{user.email}}</p>
                </li>
            </ul>
        </div> -->


        <!-- Add New User -->
        <div ng-controller="userController as ctrl">
            <p>Name<input type="text" ng-model="ctrl.name"></input></p>
            <p>Email<input type="text" ng-model="ctrl.email"></input></p>
            <p>Password<input type="text" ng-model="ctrl.password"></input></p>
            <p>Confirm-Password<input type="text" ng-model="ctrl.confirmPassword"></input></p>
            <button ng-click="ctrl.addUser()">Sign-up</button>
            <span>{{ctrl.displayMessage}}</span>
        </div>

    </body>
</html>