<div class="container">
    <div class="people">
        <h2 align="center"> People on Chat App</h2>
        <ul ng-repeat="user in ctrl.users">
            <p align="center">
                <button class="p-button--base" ng-click="ctrl.selectReceiver(user.email)">
                    {{user.name}}
                </button>
            </p>
        </ul>
    </div>
    <div class="message-area">
        <h2 align="center">Messages</h2>
        <div class="chat-area">
            <h4 class="message" id="output">
                <ul ng-repeat="messages in ctrl.chat track by $index">
                    {{messages}}
                </ul>
                
            </h4>
        </div>
        <input type="text" placeholder="Type Message" class="type-message" id="message"></input>
        <button class="send-button" ng-click="ctrl.sendMessage(); ctrl.fetchChat(); ctrl.clearField()">Send</button>
    </div>
</div>