<div class="container">
    <div class="center">
        <!-- Add New User -->
        <div>

            <p style="font-family: fantasy;font-size: xx-large; color:white" align="center">
                Sign up
            </p>
            <p>
                <!--Empty Space for better presentation-->
            </p>
            <p><input type="text" ng-model="ctrl.name" placeholder="Name"></input>
            </p>
            <p><input type="text" ng-model="ctrl.email" placeholder="E-mail"></input>
            </p>
            <p><input type="password" ng-model="ctrl.password" placeholder="Password"></input>
            </p>
            <p><input type="password" ng-model="ctrl.confirmPassword" placeholder="Confirm Password"></input>
            </p>
            <div class="p-notification--negative" ng-show="ctrl.password!=ctrl.confirmPassword">
                <p class="p-notification__response">
                    <span class="p-notification__status">Passwords do not Match
                </p>
            </div>
            <p align="center"><button ng-click="ctrl.addUser()">Sign-up</button></p>

            <div class="p-notification--negative" ng-if="ctrl.failed">
                <p class="p-notification__response">
                    <span class="p-notification__status">{{ctrl.displayMessage}}
                </p>
            </div>
        </div>
    </div>
</div>

<img src='image.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>